#root {
    display: flex;
    text-align: center;
}

.App{
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a,
input{
    text-decoration: none;
    outline: none;
}